<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- build:css stylesheets.css -->
  <link rel="stylesheet" href="global/stylesheets.css">
  <!-- endbuild -->
  <title>Selector Bar</title>
</head>
<body ng-cloak>
  <header class="l-header">
    <div class="l-header-content">
      <h1 class="c-page-title">Selector Bar Demo</h1>
      <ul class="wrap-links-externos">
        <li class="repositorio links-externos">
            <a href="https://github.com/yuricamara/selector-bar" title="Repositório no Github" target="_blank">Repositório</a>
        </li>
        <li class="portfolio links-externos">
            <a href="http://www.yuricamara.com.br" title="Site do Desenvolvedor" target="_blank">Desenvolvedor</a>
        </li>
      </ul>
    </div>
  </header>
  <main ng-controller="DataCtrl" class="l-container">
    <div class="l-main">

      <!-- directive -->
      <sb-bar id="sb-bar" ng-model="selectedObject" options="options"></sb-bar>

        <p class="c-code-html">
          &lt;sb-bar id=&quot;sb-bar&quot; ng-model=&quot;selectedObject&quot; options=&quot;options&quot;&gt;&lt;/sb-bar&gt;
        </p>

        <div class="c-code-json-wrap">
          <p class="c-code-json-title">options</p>
          <code>
            <pre class="c-code-json">
[
  {
    &quot;group&quot;: &quot;red&quot;,
    &quot;value&quot;: &quot;4&quot;
  },
  {
    &quot;group&quot;: &quot;red&quot;,
    &quot;value&quot;: &quot;5&quot;
  },
  {
    &quot;group&quot;: &quot;green&quot;,
    &quot;value&quot;: &quot;1&quot;
  },
  {
    &quot;group&quot;: &quot;green&quot;,
    &quot;value&quot;: &quot;2&quot;
  },
  {
    &quot;group&quot;: &quot;green&quot;,
    &quot;value&quot;: &quot;3&quot;
  }
]
              </pre>
            </code>
          </div>
          <div class="c-code-json-wrap">
            <p class="c-code-json-title">selectedObject</p>
            <pre class="c-code-json">{{selectedObject | json}}</pre>
          </div>
        <div class="c-infos">
          <p>Cada seletor colorido da barra representa um dos objetos contidos no array <i>options</i> exceto os seletores amarelos que são meros placeholders.</p>
          <p>A barra é criada dinamicamente de acordo com o valor do array <i>options</i>.Os objetos deste array com propriedade group igual a red são colocados a esquerda da barra e recebem a cor vermelha. Os objetos com propriedade group igual a green são colocados após os seletores do grupo1 e recebem a cor verde.</p>
          <p>Use CTRL para selecionar mais de um seletor. Os objetos selecionados são adicionados ou retirados de <i>selectedObject</i> na ordem.</p>
        </div>
    </div>
  </main>

  <!-- build:js scripts.js -->

  <script src="vendors/bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="vendors/bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
  <script src="vendors/bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
  <script src="vendors/bower_components/lodash/dist/lodash.js" type="text/javascript"></script>

  <script src="global/scripts/app.js" type="text/javascript"></script>
  <script src="global/scripts/templates.js" type="text/javascript"></script>

  <script src="diretivas/sb-bar/sb-bar-controller.js" type="text/javascript"></script>
  <script src="diretivas/sb-bar/sb-bar-directive.js" type="text/javascript"></script>
  <script src="diretivas/sb-selector/sb-selector-directive.js" type="text/javascript"></script>

</body>
</html>
