<!DOCTYPE html>
<html ng-app="app" lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- build:css stylesheets.css -->
  <link rel="stylesheet" href="global/stylesheets.css">
  <!-- endbuild -->
  <title>Selector Bar</title>
</head>
<body ng-cloak>

  <div ng-controller="DataCtrl" class="l-container">
    <main class="l-main">
      <h1 class="c-page-title">Selector Bar Demo</h1>

      <!-- directive -->
      <sb-bar id="sb-bar" ng-model="selectedObject" options="options"></sb-bar>

      <div class="l-data">
        <p class="c-code">
          &lt;sb-bar id=&quot;sb-bar&quot; ng-model=&quot;selectedObject&quot; options=&quot;options&quot;&gt;&lt;/sb-bar&gt;
        </p>

        <div class="c-scopes">
          <div class="c-selectedObject">
            <h2>selectedObject</h2>
            <pre>{{selectedObject | json}}</pre>
          </div>

          <div class="c-options">
            <h2 class="c-options-title">options</h2>
            <pre class="c-options-data">
            [
              {
                &quot;group&quot;: &quot;group1&quot;,
                &quot;value&quot;: &quot;A&quot;
              },
              {
                &quot;group&quot;: &quot;group1&quot;,
                &quot;value&quot;: &quot;B&quot;
              },
              {
                &quot;group&quot;: &quot;group1&quot;,
                &quot;value&quot;: &quot;C&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;D&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;E&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;F&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;G&quot;
              },
              {
                &quot;group&quot;: &quot;group1&quot;,
                &quot;value&quot;: &quot;H&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;I&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;J&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;L&quot;
              },
              {
                &quot;group&quot;: &quot;group2&quot;,
                &quot;value&quot;: &quot;M&quot;
              },
              {
                &quot;group&quot;: &quot;group1&quot;,
                &quot;value&quot;: &quot;N&quot;
              }
            ]
            </pre>
          </div>
        </div>

        <div class="c-infos">
          <p>Cada seletor colorido da barra representa um dos objetos contidos no array <i>options</i> exceto os seletores amarelos que são meros placeholders.</p>
          <p>A barra é criada dinamicamente de acordo com o valor do array <i>options</i>.Os objetos deste array com propriedade group igual a group1 são colocados a esquerda da barra e recebem a cor vermelha. Os objetos com propriedade group igual a group2 são colocados após os seletores do grupo1 e recebem a cor verde.</p>
          <p>Use CTRL para selecionar mais de um seletor. Os objetos selecionados são adicionados ou retirados de <i>selectedObject</i> na ordem.</p>
          <a href="https://github.com/yuricamara/selector-bar">Github</a>
        </div>
      </div>
    </main>
  </div>

  <!-- build:js scripts.js -->

  <script src="vendors/bower_components/angular/angular.js" type="text/javascript"></script>
  <script src="vendors/bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
  <script src="vendors/bower_components/angular-aria/angular-aria.js" type="text/javascript"></script>
  <script src="vendors/bower_components/lodash/dist/lodash.js" type="text/javascript"></script>

  <script src="global/scripts/app.js" type="text/javascript"></script>
  <script src="global/scripts/templates.js" type="text/javascript"></script>

  <script src="diretivas/sb-bar/sb-bar-controller.js" type="text/javascript"></script>
  <script src="diretivas/sb-bar/sb-bar-directive.js" type="text/javascript"></script>
  <script src="diretivas/sb-selector/sb-selector-directive.js" type="text/javascript"></script>

</body>
</html>
