/*******************************
      directive.scss
********************************/

sb-bar{
  margin: 60px auto;
  display: table;
}

sb-bar,
sb-bar li{
  outline-width: 0;
}

sb-bar a {
  padding: 20px 20px 10px 20px;
  text-decoration:none;
  text-align:center;
  color:#7f8c8d;
  cursor:pointer;
  background:#2c3e50;
  font-size:21px;

  border-bottom:5px solid #34495e;
  -webkit-transition:border-bottom .6s linear 0s;
    transition-property:border-bottom .6s linear 0s;
}

sb-bar .sb-selector-none a,
sb-bar .sb-selector-all a{
  color: #7272BF;
}

sb-bar .sb-selector-fst-group a{
  color: #C72929;
}

sb-bar .sb-selector-snd-group a{
  color: #42B071;
}

sb-bar .sb-selector-unselectable-group a{
  cursor: no-drop;
}

sb-bar .sb-selector-fst-group.is-active a {
  border-bottom:5px solid red;
  color:red;
}

sb-bar .sb-selector-snd-group.is-active a {
  border-bottom:5px solid #2ecc71;
  color:#2ecc71;
}

sb-bar li {
  display:inline-block;
  list-style:none;
  padding:0;
  margin:0;
  background:#7f8c8d;
}

sb-bar li a {
  float:left;
  margin-left:-4px;
}

sb-bar > a:first-child,
sb-bar li:first-child a {
  border-right: 1px solid #7f8c8d;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

sb-bar > a:last-child,
sb-bar li:last-child > a{
  border-left: 1px solid #7f8c8d;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
