/*******************************
      directive.scss
********************************/

#sb-bar,
#sb-bar li{
  outline-width: 0;
}

#sb-bar a {
  padding: 20px 20px 10px 20px;
  margin:0 1px 0 0;
  text-decoration:none;
  text-align:center;
  color:#7f8c8d;
  cursor:pointer;
  background:#2c3e50;
  font-size:21px;

  border-bottom:5px solid #34495e;
  -webkit-transition:border-bottom .6s linear 0s;
    transition-property:border-bottom .6s linear 0s;
}


#sb-bar .is-active a {
  border-bottom:5px solid #2ecc71;
  color:#2ecc71;
}

#sb-bar li {
  display:inline-block;
  list-style:none;
  padding:0;
  margin:0;
  zoom:1;
  background:#7f8c8d;
}

#sb-bar li a {
  float:left;
  margin-left:-4px;
}

#sb-bar > a:first-child,
#sb-bar li:first-child a {
  margin-left:0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

#sb-bar>a:last-child,
#sb-bar li:last-child > a{
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
