/*******************************
      _not-directive.scss
********************************/

/**** reset ****/

*,
*:after,
*:before{
  box-sizing: border-box;
}

[ng-cloak]{
  display: none;
}

i{
  font-style: italic;
}

html,
body{
  height: 100%;
}

/**** layout *****/

.l-header-content,
.l-main{
  margin: 0 auto;
  max-width: 1020px;
}

.l-header{
  background-color: #6797CF;
}

/**** component ****/

.wrap-links-externos{
  float: right;
  margin: 27px 0;
}

.wrap-links-externos>.links-externos {
  float: left;
}

.wrap-links-externos>.links-externos>a {
  background: transparent url(/img/sprite-links-externos.png) no-repeat;
  color: #9E9E9E;
  height: 55px;
  display: block;
  text-align: center;
  line-height: 140px;
  text-indent: -9999px;
}

.wrap-links-externos>.repositorio>a {
  background-position: 0 -60px;
  width: 63px;

  margin-right: 10px;
}

.wrap-links-externos>.portfolio>a {
  background-position: 15px 0;
  width: 80px;
}

.c-page-title{
  height: 110px;
  line-height: 110px;
  font-size: 32px;
  font-family: Verdana, Geneva, "Droid Sans", sans-serif;
  font-weight: bold;
  display: inline-block;
  color: #F3F3F3;
}

.c-code-html{
  font-size: 18px;
  font-family: "Courier New", Courier, monospace, "Droid Sans Mono", "DejaVu Sans Mono", sans-serif;
  background-color: #000;
  color: #FFF;
  padding: 12px 20px;
  border-radius: 4px;
  width: 735px;
  margin: 60px auto;
  line-height: 1.6;
}

.c-code-html-el{
  color: #f92672;
}

.c-code-html-attr{
  color: #a6e22e;
}

.c-code-html-attrvalue{
  color: #e6db74;
}

.c-code-json{
  font-family: "Courier New", Courier, monospace, "Droid Sans Mono", "DejaVu Sans Mono", sans-serif;
  font-size: 16px;
  float: left;
  margin-top: 10px;
  white-space: pre;
  background-color: #F0F0F0;
  width: 100%;
  height: 375px;
  padding: 10px;
}

.c-code-json-wrap{
  float: left;
  width: 50%;
}

.c-code-json-title{
  font-weight: bold;
  font-size: 20px;
  color: #BBA901;
  background-color: #F0F0F0;
  padding: 10px;
}

.c-infos{
  clear: left;
  padding: 40px 0;
  line-height: 1.3;

  & p{
    text-indent: 20px;
    margin-top: 5px;
    font-size: 18px;

    &:first-child{
      margin-top: 0;
    }
  }
}
