/* line 5, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*******************************
      directive.scss
********************************/
/* line 5, stylesheets/_directives.scss */
#sb-bar,
#sb-bar li {
  outline-width: 0;
}

/* line 10, stylesheets/_directives.scss */
#sb-bar a {
  padding: 20px 20px 10px 20px;
  margin: 0 1px 0 0;
  text-decoration: none;
  text-align: center;
  color: #7f8c8d;
  cursor: pointer;
  background: #2c3e50;
  font-size: 21px;
  border-bottom: 5px solid #34495e;
  -webkit-transition: border-bottom .6s linear 0s;
  transition-property: border-bottom .6s linear 0s;
}

/* line 26, stylesheets/_directives.scss */
#sb-bar .is-active a {
  border-bottom: 5px solid #2ecc71;
  color: #2ecc71;
}

/* line 31, stylesheets/_directives.scss */
#sb-bar li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  zoom: 1;
  background: #7f8c8d;
}

/* line 40, stylesheets/_directives.scss */
#sb-bar li a {
  float: left;
  margin-left: -4px;
}

/* line 45, stylesheets/_directives.scss */
#sb-bar > a:first-child,
#sb-bar li:first-child a {
  margin-left: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 52, stylesheets/_directives.scss */
#sb-bar > a:last-child,
#sb-bar li:last-child > a {
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/*******************************
      _not-directive.scss
********************************/
/**** reset ****/
/* line 7, stylesheets/_not-directives.scss */
* {
  box-sizing: border-box;
}

/* line 11, stylesheets/_not-directives.scss */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

/* line 20, stylesheets/_not-directives.scss */
html,
body {
  height: 100%;
}

/* line 25, stylesheets/_not-directives.scss */
body {
  background-color: #ccc;
}

/**** layout *****/
/* line 31, stylesheets/_not-directives.scss */
.l-container {
  margin: 0 auto;
  max-width: 1020px;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

/* line 40, stylesheets/_not-directives.scss */
.l-main {
  width: 100%;
}

/* line 44, stylesheets/_not-directives.scss */
.l-data {
  margin: 0 50px;
}

/**** component ****/
/* line 50, stylesheets/_not-directives.scss */
#sb-bar {
  margin: 0 auto;
  display: table;
  padding-bottom: 30px;
}

/* line 57, stylesheets/_not-directives.scss */
.c-page-title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

/* line 65, stylesheets/_not-directives.scss */
.c-code {
  text-align: center;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
}

/* line 73, stylesheets/_not-directives.scss */
.c-scopes h2 {
  font-weight: bold;
  font-size: 14px;
}
/* line 78, stylesheets/_not-directives.scss */
.c-scopes pre {
  font-size: 14px;
  float: left;
  margin-top: 30px;
}

/* line 85, stylesheets/_not-directives.scss */
.c-selectedObject,
.c-options {
  float: left;
  width: 50%;
}

/* line 91, stylesheets/_not-directives.scss */
.c-selectedObject pre {
  margin-left: 30px;
}

/* line 95, stylesheets/_not-directives.scss */
.c-infos {
  clear: left;
}
/* line 97, stylesheets/_not-directives.scss */
.c-infos p {
  text-indent: 20px;
}
/* line 101, stylesheets/_not-directives.scss */
.c-infos a {
  margin-top: 10px;
  display: block;
  text-indent: 20px;
}
